*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #111;
  color: #b0aea6;
  font: 500 1.125rem/1.5 "ff-meta-serif-web-pro", Georgia, Times, serif;
  -webkit-font-smooting: antialiased;
  text-rendering: optimizeLegibility;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

a {
  color: #FFCC00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, p {
  margin: 0 0 30px 0;
}

/*--------------------------------------------------------------------
* Headings 
--------------------------------------------------------------------*/

h1, h2 {
  text-align: center;
}

h1, h2, h3, h4, h5, strong {
  color: #EFEAC7; 
}

h1, h2, h3, h4, h5 {
  margin: 40px 0;
  line-height: 1;
}

h1, h2, h3, h4, h5, .button {
  font-family: "futura-pt", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

header {
  background: url("/img/header.jpg") 0 0 no-repeat;
  background-size: contain;
}

header h1 {
  margin-top: 0;
}

/*--------------------------------------------------------------------
* Logo 
--------------------------------------------------------------------*/

.logo {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  text-indent: -999rem;
}

.cssconf {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAyIiBoZWlnaHQ9IjEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPlVudGl0bGVkIDM8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPjxnIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIGZpbGw9IiNGMEVCQzciPjxwYXRoIGQ9Ik01MC41NTkgODQuNTg0djE2Ljk5MXMuMTcxIDI2LjczMi0yNC42MjIgMjkuMThjLTI0Ljc5MiAyLjQ0OC0yNC42MjEtMjUuNzQ1LTI0LjYyMS0yNS43NDV2LTc2LjczNXMtLjE3MS0yOC4xODQgMjQuNjIxLTI3LjIzNWMyNC43OTMuOTQ5IDI0LjYyMiAyNy42OTIgMjQuNjIyIDI3LjY5MnYxNi45OTFsLTE3LjI2OS4xNTh2LTE3LjMwOXMuNjg0LTkuMjQyLTcuMDEtOS4zODljLTYuNDk4LS4xMjUtNi40OTggOS4yNjQtNi40OTggOS4yNjR2NzUuMjc1czAgOS4zODggNi40OTggOC44N2M3LjY5NC0uNjEyIDcuMDEtOS44MTMgNy4wMS05LjgxM3YtMTcuMzFsMTcuMjY5LS44ODYiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiLz48cGF0aCBkPSJNODQuNTgxIDMuMjg0YzIyLjIyOC4zNzYgMjUuODE5IDE4Ljc2NSAyNS44MTkgMzEuNjY0bC0xOC4xMjUgMS41NTZjMC03Ljg3LTEuMTk2LTE3LjA0OS03LjM1Mi0xNy4xNzMtNC43ODcuMDY1LTYuMzI2IDQuOTI4LTYuMzI2IDExLjc4IDAgOC4xNTYgNy4zNTIgMTcuMTk5IDE0LjUzNCAyNi44OTcgOC41NDkgMTEuNzE2IDE3LjI2OSAyMi44NzYgMTcuMjY5IDM1LjMwMyAwIDE1LjQxOC01LjQ3MiAyOS42NDQtMjUuNjQ4IDMxLjYzNy0yMy43NjcgMi4zNDctMjYuODQ0LTE0Ljg3My0yNi44NDQtMzMuMDY0bDE4LjEyNC0yLjcxOGMwIDkuOTggMS4wMjYgMjAuMzY2IDguNzIgMTkuNzQ1IDUuNDcyLS40NDEgNy41MjMtNi4yMjggNy41MjMtMTMuNjE4IDAtNy44Ny03Ljg2NS0xNi45ODMtMTQuODc1LTI2Ljc4NS04LjcyLTEyLjA2Ny0xNi45MjYtMjQuMzc0LTE2LjkyNi0zNy41MjEgMC0xMy4zMTQgNi42NjgtMjguMDQgMjQuMTA4LTI3LjcwMyIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIvPjxwYXRoIGQ9Ik0xNDMuMjI0IDUuNTI3YzIyLjIyOC40MDkgMjUuODE4IDE3LjU1NiAyNS44MTggMjkuNTc4bC0xOC4xMjQgMS40NTFjMC03LjM0Ni0xLjE5Ny0xNS45MTYtNy4zNTItMTYuMDQtNC43ODcuMDU2LTYuMzI2IDQuNTk3LTYuMzI2IDEwLjk5OSAwIDcuNjIxIDcuMzUyIDE2LjA2NCAxNC41MzMgMjUuMTExIDguNTQ5IDEwLjkxNCAxNy4yNjkgMjEuMjkyIDE3LjI2OSAzMi44NzUgMCAxNC4zNjgtNS40NzEgMjcuNjY0LTI1LjY0NyAyOS42NTYtMjMuNzY3IDIuMzQ3LTI2Ljg0NS0xMy43NDktMjYuODQ1LTMwLjc3NGwxOC4xMjUtMi42MTFjMCA5LjMyNiAxLjAyNSAxOS4wMjggOC43MiAxOC40MDcgNS40NzEtLjQ0MSA3LjUyMy01Ljg1NCA3LjUyMy0xMi43NTEgMC03LjM0Ni03Ljg2NS0xNS44MjktMTQuODc1LTI0Ljk2Ny04LjcyLTExLjI2My0xNi45MjctMjIuNzY5LTE2LjkyNy0zNS4wNyAwLTEyLjQ1OCA2LjY2OC0yNi4yMjEgMjQuMTA5LTI1Ljg2MyIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIvPjxwYXRoIGQ9Ik0yMjcuMDAxIDc1LjUyOXYxMy43NDFzLjE3MiAyMS42MTMtMjQuNjIxIDI0LjA2MmMtMjQuNzkzIDIuNDQ4LTI0LjYyMi0yMC42MjctMjQuNjIyLTIwLjYyN3YtNjIuNzk2cy0uMTcxLTIzLjA2NiAyNC42MjItMjIuMTE3YzI0Ljc5My45NDkgMjQuNjIxIDIyLjU3MyAyNC42MjEgMjIuNTczdjEzLjc0bC0xNy4yNjkuMTU4di0xNC4wNThzLjY4NS03LjUwMy03LjAxLTcuNjVjLTYuNDk3LS4xMjUtNi40OTcgNy41MjYtNi40OTcgNy41MjZ2NjEuMzM3czAgNy42NDkgNi40OTcgNy4xMzJjNy42OTUtLjYxMiA3LjAxLTguMDc0IDcuMDEtOC4wNzR2LTE0LjA1OGwxNy4yNjktLjg4NyIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIvPjxwYXRoIGQ9Ik0yNjEuNTM3IDEwNy40ODljLTI0Ljc5MyAyLjQ0OC0yNC42MjItMTguOTExLTI0LjYyMi0xOC45MTF2LTU4LjEyM3MtLjE3MS0yMS4zNSAyNC42MjItMjAuNDAxYzI0Ljc5Mi45NDkgMjQuNjIxIDIwLjg1NiAyNC42MjEgMjAuODU2djU0LjIzMnMuMTcxIDE5Ljg5Ny0yNC42MjEgMjIuMzQ2em0wLTgzLjgxMmMtNi40OTgtLjEyNC02LjE1NiA2Ljk1LTYuMTU2IDYuOTV2NTYuNjYzcy0uMzQyIDcuMDk0IDYuMTU2IDYuNTc2YzYuNDk3LS41MTcgNi4xNTQtNy40MzUgNi4xNTQtNy40MzV2LTU1LjY5cy4zNDMtNi45MzktNi4xNTQtNy4wNjR6IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIi8+PHBhdGggZD0iTTMxOC4xMjggNTUuMjA5bC0xLjUzOS00LjAyOC0xLjAyNi4wMjJ2NDkuOTkxbC0xNi45MjcgMS42NDd2LTkwLjM4M2wxNi40MTQuNjA0IDE3Ljk1MyA0NS4zNTcgMS41MzggMy45MDcgMS4wMjYtLjA0di00OC40NjhsMTYuOTI3LjYyM3Y4My4xNjFsLTE2LjQxNCAxLjU5OC0xNy45NTItNDMuOTg5IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIi8+PHBhdGggZD0iTTQwMC45ODcgMjcuODAybC0yMC4xODYtLjMzNHYyMC44NGwxMy41NDgtLjI1M3YxMS43MTJsLTEzLjU0OC41Mjd2MzQuNTUzbC0xNC42MyAxLjQyNHYtODEuMzI3czEuNDkuMDU1IDM0LjgxNiAxLjI4MXYxMS41NzciIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiLz48L2c+PC9zdmc+);
}

/*--------------------------------------------------------------------
* Footer 
--------------------------------------------------------------------*/

footer {
  padding-top: 30px;
  font-size: .875rem;
}

/*--------------------------------------------------------------------
* Images 
--------------------------------------------------------------------*/

img {
  max-width: 100%;
  cursor: pointer;
}

img:hover {
  opacity: .5;
}

/*--------------------------------------------------------------------
* Containers
--------------------------------------------------------------------*/

section {
  border-bottom: 5px solid rgba(255, 255, 255, .1);
}

.container,
figure {
  margin: 0 auto;
}

/*--------------------------------------------------------------------
* Helpers 
--------------------------------------------------------------------*/

.text-centered {
  text-align: center;
}

.transition-on {
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
}

.no-bottom-margin {
  margin-bottom: 0;
}

/*--------------------------------------------------------------------
* Lists 
--------------------------------------------------------------------*/

.list-unstyled {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

/*--------------------------------------------------------------------
* Forms 
--------------------------------------------------------------------*/

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .3);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, .3); 
}

input[type=email] {
  height: 60px;
  border: 5px solid rgba(255, 255, 255, .2);
  padding: 0 15px;
  background-color: transparent;
}

input[type=email]:focus {
  outline: none;
  border-color: #FFCC00;
}

/*--------------------------------------------------------------------
* Buttons 
--------------------------------------------------------------------*/

.button.disabled {
  display: inline-block;
  padding: 20px 30px;
  background-color: #cda400;
  border: none;
  color: #222;
  font-size: 1.25rem;
  line-height: 1;
  cursor: not-allowed;
  opacity: .5;
  text-decoration: none;
}

/*--------------------------------------------------------------------
* Venue 
--------------------------------------------------------------------*/

.venue figure {
  margin: 0 40px 30px 0;
  width: 50%;
  text-align: center;
}

.venue figure img {
  margin: 0 auto;
}

/*--------------------------------------------------------------------
* Speakers 
--------------------------------------------------------------------*/

.speaker {
  text-align: center;
}

.speaker figure {
  position: relative;
}

.speaker figure:hover .social {
  display: block
}

.social {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  background-size: 60px 60px;
  background-position: center center;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjY1cHgiIGhlaWdodD0iNTdweCIgdmlld0JveD0iMCAwIDY1IDU3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4xICg4NzUxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5VbnRpdGxlZCAzPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPHBhdGggZD0iTTYzLDguMTEwMzUxNTYgQzYwLjY5OTIxODgsOS4xMzk2NDg0NCA1OC4yNzczNDM4LDkuODM1OTM3NSA1NS42NzM4MjgxLDEwLjEzODY3MTkgQzU4LjMzNzg5MDYsOC41NjQ0NTMxMiA2MC4zMzU5Mzc1LDYuMDUxNzU3ODEgNjEuMjc0NDE0MSwzLjA4NDk2MDk0IEM1OC44NTI1MzkxLDQuNTM4MDg1OTQgNTYuMDk3NjU2Miw1LjU5NzY1NjI1IDUzLjI1MTk1MzEsNi4xNzI4NTE1NiBDNTAuODYwMzUxNiwzLjc1MDk3NjU2IDQ3LjU2MDU0NjksMi4xNzY3NTc4MSA0My44OTc0NjA5LDIuMTc2NzU3ODEgQzM2Ljg3NDAyMzQsMi4xNzY3NTc4MSAzMS4yMTI4OTA2LDcuODM3ODkwNjIgMzEuMjEyODkwNiwxNC44NjEzMjgxIEMzMS4yMTI4OTA2LDE1Ljg2MDM1MTYgMzEuMjczNDM3NSwxNi44ODk2NDg0IDMxLjQ4NTM1MTYsMTcuNzk3ODUxNiBDMjAuOTUwMTk1MywxNy4yMjI2NTYyIDExLjYyNTk3NjYsMTIuNDM5NDUzMSA1LjI5ODgyODEyLDQuNzUgQzQuMjM5MjU3ODEsNi42MjY5NTMxMiAzLjU3MzI0MjE5LDguNTY0NDUzMTIgMy41NzMyNDIxOSwxMC45MjU3ODEyIEMzLjU3MzI0MjE5LDE1LjI4NTE1NjIgNS44MTM0NzY1NiwxOS4xNjAxNTYyIDkuMjY0NjQ4NDQsMjEuNDYwOTM3NSBDNy4xNzU3ODEyNSwyMS40MDAzOTA2IDUuMjM4MjgxMjUsMjAuODI1MTk1MyAzLjUxMjY5NTMxLDE5Ljg4NjcxODggTDMuNTEyNjk1MzEsMjAuMDM4MDg1OSBDMy41MTI2OTUzMSwyNi4yMTM4NjcyIDcuOTAyMzQzNzUsMzEuMzYwMzUxNiAxMy43MTQ4NDM4LDMyLjUxMDc0MjIgQzEyLjYyNSwzMi44MTM0NzY2IDExLjQ3NDYwOTQsMzIuOTY0ODQzOCAxMC4zMjQyMTg4LDMyLjk2NDg0MzggQzkuNTM3MTA5MzgsMzIuOTY0ODQzOCA4Ljc1LDMyLjg3NDAyMzQgNy45NjI4OTA2MiwzMi43MjI2NTYyIEM5LjUzNzEwOTM4LDM3Ljc0ODA0NjkgMTQuMjkwMDM5MSw0MS41MDE5NTMxIDE5Ljc5OTgwNDcsNDEuNTYyNSBDMTUuNTAwOTc2Niw0NS4wMTM2NzE5IDkuOTYwOTM3NSw0Ny41ODY5MTQxIDQuMDI3MzQzNzUsNDcuNTg2OTE0MSBDMi45OTgwNDY4OCw0Ny41ODY5MTQxIDEuOTk5MDIzNDQsNDcuNTI2MzY3MiAxLDQ3LjM3NSBDNi42MDA1ODU5NCw1MC45Nzc1MzkxIDEzLjM1MTU2MjUsNTIuNTUxNzU3OCAyMC41MjYzNjcyLDUyLjU1MTc1NzggQzQzLjg5NzQ2MDksNTIuNTUxNzU3OCA1Ni42NzI4NTE2LDMzLjE3Njc1NzggNTYuNjcyODUxNiwxNi4zNzUgTDU2LjY3Mjg1MTYsMTQuNzA5OTYwOSBDNTkuMTI1LDEyLjkyMzgyODEgNjEuMjc0NDE0MSwxMC43MTM4NjcyIDYzLDguMTEwMzUxNTYgTDYzLDguMTEwMzUxNTYgWiIgaWQ9InR3aXR0ZXIiIGZpbGw9IiNGRkZGRkYiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+);
}

.no-speaker {
  align-items: center;
  -webkit-box-align: center;
}

/*--------------------------------------------------------------------
* Sponsors 
--------------------------------------------------------------------*/

.sponsors h3:last-of-type {
  margin-top: 0;
}

.sponsor {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .5;
}

.sponsor-mailchimp {
  width: 500px;
  height: 150px;
  background-image: url("../img/sponsor-mailchimp.svg");
}

.sponsor-bootstrap {
  height: 100px;
  background-image: url("../img/sponsor-bootstrap.svg");
}


/*--------------------------------------------------------------------
* Mobile 
--------------------------------------------------------------------*/

@media screen and (max-width: 489px) {

  header {
    padding-top: 180px;
  }

  section {
    padding-bottom: 30px;
  }

  .cssconf {
    min-height: 90px;
    margin: 40px auto 0;
  }

}

@media screen and (min-width: 490px) {

  section {
    margin: 60px 0 30px 0;
    padding-bottom: 60px;
  }

  .cssconf {
    width: 400px;
    height: 132px;
    margin: 20px auto 60px;
  }

  .speaker h4,
  .speaker p {
    padding: 0 15px;
  }

  .speaker:not(.organiser) img {
    width: 400px;
    min-height: 300px;
  }

  .organiser {
    float: left;
    width: 50%;
    padding: 0 20px;
  }

  .intro {
    font-size: 1.5rem;
  }


}

@media screen and (min-width: 491px) {

  header {
    padding-top: 400px;
  }

}

@media screen and (max-width: 768px) {

  header {
    min-height: 400px;
  }

  .container {
    width: 85%;
  }

  .sponsor {
    max-width: 100%;
    height: 100px;
  }

  .venue figure {
    width: 100%;
  }

  .venue figure img {
    max-width: 400px;
  }

}

/*--------------------------------------------------------------------
* Desktop 
--------------------------------------------------------------------*/

@media screen and (min-width: 769px) {

  header {
    padding-top: 500px;
    min-height: 800px;
    background-position: 0 -100px;
  }

  .container {
    width: 80%;
  }

  .grid-flex-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 50%;
  }

  .grid-flex-container {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: -webkit-box;
    -webkit-box-flow: row wrap;
  }

}

@media screen and (min-width: 1200px) {

  .container {
    width: 60%;
  }

}
